+++
title = "Clymene-project"
linkTitle = "Clymene-project"
+++

<head>
    <meta name="google-site-verification" content="9DAXsKyh-Jeu1c5s1fYCu0iifTyhKk67r-AWuZ1RIKw" />
    <meta name="naver-site-verification" content="ab939135d51d9f28e429c9be682b9d1ca5772667" />

</head>
{{< blocks/cover title="Time-series data and logs collection and heterogeneous database support platform for distributed systems" image_anchor="top" height="full" color="white" >}}
<img width="400" height="400"
     src="https://user-images.githubusercontent.com/25188468/148681479-3ddf237c-6e5d-49a1-a517-8b3bfa92f54e.png"
     alt="clymene_logo">
<div class="mx-auto">

    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Clymene-project/Clymene/releases">
        Download <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5"></p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Clymene is time-series data and logs collection platform for distributed systems inspired by [Prometheus](https://prometheus.io) and [Jaeger](https://www.jaegertracing.io). Time-series data and logs from various environments can be collected and stored in
different types of databases. It can be configured in a variety of architectures. Choose the storage that users can use easily and build a monitoring system with dashboards that users can use easily.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Please suggest new ideas!" url="https://github.com/Clymene-project/Clymene/discussions" %}}
Please suggest ideas like new database support or new components.

Clymene can provide a variety of observability.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Clymene-project/Clymene" %}}
We do a [Pull Request](https://github.com/Clymene-project/Clymene/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/clymeneallen" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
    <h4 class="text-center">Time series data created with Prometheus exporter can be stored in various databases such as </h4>
    <h4 class="text-center">ElasticSearch, Prometheus, Cortex, kdb++, OpenTSDB, InfluxDB and TDengine</h4>
</div>

{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fab fa-docker" title="Download **from Docker hub**" url="https://hub.docker.com/repository/docker/bourbonkk/clymene-agent" %}}
Get the Clymene!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Clymene-project/Clymene" %}}
We do a [Pull Request](https://github.com/Clymene-project/Clymene/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/clymeneallen" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

